*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    padding: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }


  @media (min-width: 720px) {
    body{
        padding: 50px;
    }
}


@media (min-width: 1024px) {
    body{
        padding: 100px;
    }
}
