@use "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__logo {
    width: 120px;
    cursor: pointer;
  }
}


.navlist {
  display: flex;
  &__item {
    list-style-type: none;
    margin-left: 10px;
    &__link {
      color: variables.$primary-color;
      text-decoration: none;
      transition: text-decoration 0.3s ease;
      
      &:hover {
        text-decoration: underline;
      }
      
      &.active_link {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 720px) {
  .header__logo {
    width: 200px;
  }
  .navlist {
    font-size: 18px;
    &__item {
      margin-left: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .header__logo {
    width: 270px;
  }
  .navlist {
    font-size: 24px;
    &__item {
      margin-left: 60px;
    }
  }
}
