@use "../../styles/variables";

.description {
    color: variables.$primary-color;
    font-weight: 500;
    font-size: 18px;
}

.location {
    color: variables.$primary-color;
    font-size: 14px;
    font-weight: 500;
}