footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    height: 210px;
    color: white;
    h3 {
        font-size: 12px;
        width:130px;
        text-align: center;
        margin-top: 15px;
        font-weight: 400;
    }
}