@use "../../styles/variables";

.container{
    margin-top: 10px;
}

.button_title{
    padding: 8px;
    text-align: left;
    background-color: variables.$primary-color;
    border: none;
    color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 420;
}

.list{
    width: 100%;
    background-color: #F6F6F6;
    position: relative;
    border-radius: 0 0 4px 4px;
    color: variables.$primary-color;;
    padding: 20px 0;
    p {
        margin: 2px 20px;
    }
}
.button_title {
    display: flex;
    justify-content: space-between;
}
.list {
    opacity: 0; 
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.list:last-child {
    margin-bottom: 10px;
}
  
.list.open {
    opacity: 1; 
    max-height: 300px; 
}

@media (min-width: 720px) {
    .container {
        margin-top: 30px;
        width: 45%;       
    }
}
